@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  color: white;
}

body {
  background: black;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-weight: 200;
}

#main {
  overflow: hidden;
  overflow-y: hidden;
  text-align: center;
}

.all {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: 5px 1fr 1fr 1fr 1fr 15px;
  grid-template-rows: 50px 1fr 1fr 1fr 1fr 50px;
  text-align: center;
}


/*=======================================
>>>>>>>>  WEATHER  <<<<<<<<
========================================*/

.weather {
  grid-column: 2;
  grid-row: 2 / span 2;
  transform: translateX(-550px);
  animation: weather 5s 3s forwards;
  justify-self: start;
  align-self: start;
  background-color: rgba(255,255,255,.1);
}

.weather .current {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 52px;
}

.weather .current h2 {
  font-weight: 200;
  padding-left: 58px;
}

.weather .current h3 {
  font-size: 18px;
}

.weather .current .icon {
  width: 200px;
  height: 100px;
}

.weather p {
  font-size: 20px;
}

.weather .daily-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 24px;
}
.weather .daily-container .high-low-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 180px;
  width: 60px;
  justify-content: center;
}

.weather .daily-container .daily .day-container{
  height: 20px;
  margin-bottom: auto;
}

.weather .daily-container .daily h2 {
  font-size: 17px;
}

.weather .daily-container .daily h3 {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 200;
  margin: 10px 0 10px 0;
}

.weather .daily-container .daily .graph {
  width: 20px;
  border: 1px solid white;
  background-color: white;
  border-radius: 10px;
}

/*=======================================
>>>>>>>>  DATE <<<<<<<<
========================================*/

.date {
  grid-column: 4 / span 2;
  grid-row: 2 / span 2;
  transform: translateX(500px);
  animation: date 5s 3s forwards;
  justify-self: end;
  align-self: start;
  background-color: rgba(255,255,255,.1);
}

.date span {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.date h1 {
  font-size: 62px;
  margin-bottom: 20px;
  font-weight: 200;
}

.date h2 {
  font-size: 30px;
  font-weight: 200;
  padding-left: 5px;
}

.date h3 {
  font-size: 22px;
  font-weight: 200;
  text-align: end;
}


/*=======================================
>>>>>>>>  NEWS  <<<<<<<<
========================================*/

.news {
  grid-column: 2 / span 2;
  grid-row: 4 / span 2;
  align-content: end;
  transform: translateX(-1200px);
  animation: news 5s 3s forwards;
  align-self: end;
  background-color: rgba(255,255,255,.1);
}

.news .wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 10px;
  height: auto;
  width: 100%;
}

.news .wrapper .header {
  display: flex;
  align-items: center;
  align-content: end;
}

.news .wrapper .header p {
  margin: 0 5px 0 5px;
  font-size: 23px;
}

.news .wrapper .header h3,
.news .wrapper .header h2 {
  font-weight: 200;
  margin: 0;
  font-size: 17px;
  text-align: left;
}



/*=======================================
>>>>>>>>  Gify  <<<<<<<<
========================================*/

.gif {
  grid-column: 5;
  grid-row: 4 / span 2;
  align-content: end;
  align-self: start;
  text-align: left;
  animation-name: gif;
  animation-duration: 5s;
  align-self: end;
  justify-self: end;
}

.gif img {
  width: 100%;
  max-height: 200px;
}


/*=======================================
>>>>>>>>  Notifications  <<<<<<<<
========================================*/

.notifications {
  grid-column: 5;
  grid-row: 4 / span 2;
  transform: translateX(550px);
  animation: git 5s 3s forwards;
  justify-self: end;
  align-self: end;
  background-color: rgba(255,255,255,.1);
}

.notifications header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notifications h1 {
  font-size: 20px;
  font-weight: 200;
}

.notifications .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 14px 0 14px 0;
}

.notifications .info-container {
  display: flex;
  margin-left: 20px;
}

.notifications h2 {
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  width: 200px;
}

.notifications h3 {
  font-size: 13px;
  font-weight: 200;
}

.notifications .avatar-date-container {
  display: flex;
  align-items: center;
  min-width: 140px;
}

.github-icon {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../icons/github/github_icon.png');
}

.pull-request-icon {
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../icons/github/pull_request_icon.png');
}

.avatar {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  margin-right: 15px;
}

/*=======================================
>>>>>>>>  Key Frames  <<<<<<<<
========================================*/

@keyframes weather {
  from {
    transform: translateX(-550px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes date {
  from {
    transform: translateX(500px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes git {
  from {
    transform: translateX(550px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes news {
  from {
    transform: translateX(-1200px);
  }
  to {
    transform: translateX(0px);
  }
}
